canvas {
    border: 1px solid black;
}

body {
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 800px;
    margin: auto;
}

canvas {
    display: block;
    margin: auto auto 1em;
}

#control-buttons {
    width: 600px;
    margin: auto;
    clear: both;
}

#button-run {
    float: left;
}

#button-reset {
    float: right
}

input[type='button'] {
    width: 100px;
    margin-bottom: 2em;
}