canvas {
    border: 1px solid black;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

@media screen and (min-width: 320px) {
    html {
        font-size: 4vw;
    }

    .centered {
        width: 90%;
        margin: 1em;
    }

    .content {
        margin: 1em;
    }

    .label-block {
        display: table-row;
    }

    .range-block {
        display: table-row;
        vertical-align: middle;
    }

    .range-slider {
        width: 70%;
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 18px;
    }

    .centered {
        width: 600px;
        margin: auto;
    }

    .content {
        width: 800px;
        margin: auto;
    }

    .label-block {
        display: table-cell;
        width: 35%;
    }

    .range-block {
        display: table-cell;
        width: 60%;
    }

    .range-slider {
        width: 21em;
    }
}

canvas {
    display: block;
    margin: auto auto 1em;
}

#control-buttons {
    clear: both;
}

#button-run {
    float: left;
}

#button-reset {
    float: right
}

input[type='button'] {
    font-size: 1vw;
    width: 100px;
    margin-bottom: 2em;
}

.control {
    display: table;
    width: 100%;
    margin-bottom: 1em;
    vertical-align: middle;
}

.range-label {
    text-align: left;
    vertical-align: middle;
}

.range-value {
    display: inline-block;
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    background: #333b45;
    padding: 0.2em 0.3em;
    width: 3em;
    vertical-align: middle;
}

.range-slider {
    display: table-cell;
    margin: 0 1em;
    vertical-align: middle;
    height: 2em;
    border-radius: 1em;
    background: #333b45;
    outline: none;
    -webkit-appearance: none;
}