body {
    background-color: #ffffff;
    font-family: 'PT Serif', serif;
    font-size: 13pt;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .centered {
        width: 100%;
    }

    .content {
        margin: 1em;
    }

    .range-label {
        padding-bottom: 0.5em;
        width: 90%;
    }

    .range-block {
        display: table-row;
        vertical-align: middle;
    }

    .range-slider {
        width: 75%;
    }

    .stats {
        margin-bottom: 1em;
    }

    .current-values {
        display: block;
    }

    .stat-label {
        width: 10em;
    }

    .stat-value {
        width: 2em;
    }

    .stat-graph {
        display: block;
        margin-top: 1em;
    }
}

@media screen and (min-width: 820px) {
    .centered {
        margin: auto;
    }

    .content {
        width: 804px;
        margin: auto;
    }

    .range-label {
        width: 30%;
    }

    .range-block {
        display: table-cell;
        width: 65%;
    }

    .range-slider {
        width: 470px;
    }

    .stats {
        clear: both;
        margin-bottom: 1em;
        overflow: auto;
    }

    .current-values {
        float: left;
    }

    .stat-label {
        width: 150px;
    }

    .stat-value {
        width: 45px;
    }

    .stat-graph {
        float: right;
        margin-right: 2px;
    }

    button {
        font-size: 18px;
    }
}

.control {
    display: table;
    width: 100%;
    margin-bottom: 1em;
    vertical-align: middle;
}

.range-label {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.range-value {
    display: inline-block;
    padding-right: 0.3em;
    text-align: left;
    width: 3em;
    vertical-align: middle;
}

.range-value:disabled {
    background-color: #666666;
}

.range-slider {
    background: #333333;
    border-radius: 0.2em;
    display: inline-block;
    height: 2px;
    margin-left: 1em;
    outline: none;
    vertical-align: middle;
    -webkit-appearance: none;
}

.range-slider:disabled {
    background-color: #666666;
}

input[type=range]::-webkit-slider-thumb {
    border: 1em #333333;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    background: #333333;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
    border: 1em #333333;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    background: #333333;
}

.stat-row {
    margin-bottom: 0.1em;
}

.stat-label {
    display: inline-block;
}

.stat-value {
    display: inline-block;
}

.stat-healthy {
    color: #85c0f9;
}

.stat-sick {
    color: #f5793a;
}

.stat-immune {
    color: #a95aa1;
}

.stat-deceased {
    color: #000000;
}

canvas {
    border: 1px solid #999999;
}

#control-buttons {
    clear: both;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: auto;
}

#button-run {
    float: left;
}

#button-reset {
    float: right
}

button {
    border: 1px solid #999999;
    font-family: inherit;
    height: 2em;
    width: 10em;
}

button:hover {
    background-color: #dddddd;
    cursor: pointer;
}

button:disabled {
    background-color: #bbbbbb;
}
